{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}


<br>

	<div class="col-md">
		<h5>Son 5 işlem</h5>
		<hr>
		<div class="card card-body">
			<div class="btn-group" role="group" aria-label="Basic example">
				<a class="btn btn-primary" href="{% url 'addProduct' %}">Yeni Ürün Kaydet</a>
				<a class="btn btn-warning" href="{% url 'barcode_view' %}">Barkod Okutarak Ara</a>
				<!--<a class="btn btn-success" href="{% url 'addProductFromBarcode' %}">Barkod Okutarak Yeni Ürün Kaydet</a>-->

			</div>
			<table class="table table-sm">
				<tr>
					<th>Ürün</th>
					<th>Barkod</th>
					<th>Adet</th>
					<th>Sil</th>
					<th>Ürün Bilgilerini Güncelle</th>
					<th>Giriş/Çıkış Yap</th>
				</tr>

				{% for product in products %}
				<tr>
					<td>
						<a href="{% url 'productPage' product.id %}">{{ product.name }}</a>
					</td>
					<td>{{product.barcode}}</td>
					<td>{{product.amount}}</td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'deleteProduct' product.id %}">Ürünü Sil</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'updateProduct' product.id %}">Güncelle</a></td>
					<td>
						<a class="btn btn-sm btn-primary" href="{% url 'productEntry' product.id 1 %}">Ürün Girişi</a>
						<a class="btn btn-sm btn-warning" href="{% url 'productEntry' product.id 0 %}">Ürün Çıkışı</a>
					</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}
