{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>"{{item}}" adlı ürünü silmek istediğinizden emin misiniz?</p>

            <form action="{% url 'deleteProduct' item.id %}" method="POST">

                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'home' %}">Vazgeç</a>

                <input class="btn btn-danger" type="submit" name="Onayla">
            </form >
        </div>
    </div>
</div>

{% endblock %}
