{%  extends 'accounts/main.html' %}

{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Tarih</th>
					<th>Düzenleyen Kullanıcı</th>
					<th>Düzenleme Sebebi</th>
				</tr>

                {% for history in histories %}
				<tr>
					<td>{{ history.history_date }}</td>
					<td>{{ history.history_user }}</td>
					{% if history.history_change_reason is Null %}
						<td>Ürün girişi.</td>
					{% else %}
						<td>{{ history.history_change_reason }}</td>
					{% endif %}
				<tr>
                {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}
