<table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
	<tr>
	  <th>Ürün Adı</th>
	  <th>Barkod</th>
	  <th>Adet</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
	  {% for product in products %}
		  <tr>
			  <td>
				  <a href="{% url 'productPage' product.id %}">{{ product.name }}</a>
			  </td>
			  <td>{{ product.barcode }}</td>
			  <td>{{ product.amount }}</td>
			  <td>
				  <a class="btn btn-sm btn-info" href="{% url 'productST' product.id %}">Sayıma Ekle</a>
			  </td>
		  </tr>
	  {% endfor %}
  </tbody>
  <tfoot>
	<tr>
		<th>Ürün Adı</th>
		<th>Barkod</th>
		<th>Adet</th>
	</tr>
  </tfoot>
</table>
