{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!--  for autocomplete function  -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    //all autocomplete functions:
    $(function () {
        $("#id_name").autocomplete({
            source: '{% url 'autocompleteName' %}',
            //minLength: 2
        });
    });

    $(function () {
        $("#id_vendor").autocomplete({
            source: '{% url 'autocompleteVendor' %}',
            //minLength: 2
        });
    });

    $(function () {
        $("#id_category").autocomplete({
            source: '{% url 'autocompleteCategory' %}',
            //minLength: 2
        });
    });

    $(function () {
        $("#id_model").autocomplete({
            source: '{% url 'autocompleteModel' %}',
            //minLength: 2
        });
    });

    $(function () {
        $("#id_brand").autocomplete({
            source: '{% url 'autocompleteBrand' %}',
            //minLength: 2
        });
    });
</script>


<!--  for dynamic criticalStock form  -->
<script>
document.addEventListener("DOMContentLoaded", function (event) {

    var _selector = document.querySelector('input[name=criticalStock]');

    //see if it was initially unchecked
    if( _selector.checked == false ) {
        document.querySelector('input[name=criticalStockAmt]').disabled = true;
    }

    _selector.addEventListener('change', function (event) {
        if (_selector.checked) {
            document.querySelector('input[name=criticalStockAmt]').disabled = false;
        } else {
            document.querySelector('input[name=criticalStockAmt]').value = null;
            document.querySelector('input[name=criticalStockAmt]').disabled = true;
        }
    });
});

</script>

<table>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            {{ productForm }}
        </div>
        <div class="form-group">
            <p></p>
            <tbody>
                <tr>
                    <th>
                        {{ invoiceForm.invoiceCode.label }}:
                    </th>
                    <td>
                        {{ invoiceForm.invoiceCode }}
                    </td>
                </tr>

                <tr>
                    <th>
                        {{ invoiceForm.taxNo.label }}:
                    </th>
                    <td>
                        {{ invoiceForm.taxNo }}
                    </td>
                </tr>

            </tbody>

        </div>

    <input type="submit" name="Submit" value="Gönder">
    </form>
</table>

{% endblock %}
