<table id="logs" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
	<tr>
	  <th>Ürün Adı</th>
	  <th>Barkod</th>
	  <th>Adet</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
	  {% for log in logs %}
		  <tr>
			  <td>{{ log.product }}</td>
			  <td>{{ log.barcode }}</td>
			  <td>{{ log.logDate }}</td>
              <td>{{ log.productsLeft }}</td>
			  <td>
				  <a class="btn btn-sm btn-info" href="{% url 'productST' log.id %}">Sayıma Ekle</a>
			  </td>
		  </tr>
	  {% endfor %}
  </tbody>
  <tfoot>
	<tr>
		<th>Ürün Adı</th>
		<th>Barkod</th>
		<th>Giriş Tarihi</th>
        <th>Kalan Ürün Sayısı</th>
	</tr>
  </tfoot>
</table>
