{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'addProduct' %}">Yeni Ürün Kaydet</a>
				<div class="card card-body">
					<h5>Ürünler</h5>
				</div>
				<div class="card card-body">
					<form method = "get">
						<b>Arama Filtreleri:</b>
						{{myFilter.form.as_p}}
						<button class="btn btn-primary" type="submit">Search</button>
					</form>
					<table class="table">
						<tr>
							<th></th>
							<th></th>
							<th>Ürün Adı</th>
							<th>Barkod</th>
							<th>Ürün kodu</th>
							<th>Ürün Fotoğrafı</th>
							<th>Satın Alınan Firma</th>
							<th>Kayıt Tarihi</th>
							<th>Fiyat</th>
							<th>Adet</th>
							<th>Kategori</th>
							<th>Marka</th>
							<th>Model</th>
							<th>Açıklama</th>
							<th>Kaydeden Kullanıcı</th>
						</tr>

						{% for product in products %}
							<tr>
								<td></td>
								{% if product.invoice is not Null %}
									<td><a class="btn btn-sm btn-info" href="{% url 'invoice-path' product.invoice.id %}">Faturayı Gör</a></td>
								{% else %}
									<td><a class="btn btn-sm btn-danger" href="{% url 'addInvoice' product.id %}">Fatura Ekle</a></td>
								{% endif %}
								<td>{{ product.name }}</td>
								<td>{{ product.barcode }}</td>
								<td>{{ product.code }}</td>
								<td><img>{{ product.photo }}</img></td>
								<td>{{ product.vendor }}</td>
								<td>{{ product.regDate }}</td>
								<td>{{ product.price }}</td>
								<td>{{ product.amount }}</td>
								<td>{{ product.category }}</td>
								<td>{{ product.brand }}</td>
								<td>{{ product.model }}</td>
								<td>{{ product.description }}</td>
								<td>{{ product.editor }}</td>
								<td>
									<div class="col-sm-2 buttons-alignment">
            							<a class="btn btn-sm btn-info" href="{% url 'updateProduct' product.id %}">Güncelle</a>
            							<a class="btn btn-sm btn-danger" href="{% url 'deleteProduct' product.id %}">Sil</a>
        							</div>
								</td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}
