{%  extends 'accounts/main.html' %}

{% block content %}

<script src="../static/js/quagga.js"> </script>

<form id="barcodeForm" action="" method="post">
    {% csrf_token %}
    <input type="hidden" id="barcode" name="barcode">
</form>

<div id="camera"></div>

<script>

    Quagga.init({
    inputStream : {
      name : "Live",
      type : "LiveStream",
      target: document.querySelector('#camera')
    },
    decoder : {
      readers : ["code_128_reader"]
    }
    }, function(err) {
      if (err) {
          console.log(err);
          return
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
    });

    //add
    Quagga.onDetected(function(data) {
        console.log(data);

        //submit form when barcode is detected
        document.getElementById('barcode').value = data.codeResult.code;
        //alert(document.getElementById('barcode').value)
        var form = document.getElementById("barcodeForm");
        form.submit();
    });

</script>

{% endblock %}
