{%  extends 'accounts/main.html' %}

{% block content %}

<script type="text/javascript" src="../static/js/quagga.js"> </script>

<form id="barcodeForm" action="" method="post">
    {% csrf_token %}
    <input type="hidden" id="barcode" name="barcode">
</form>

<div id="camera" class="camera"></div>

<style>

    .camera {
        position: absolute;
        top: 70px;
        bottom: 0;
        width: 90%;
        height: 90%;
        overflow: hidden;
    }
    .camera video {
        /* Make video to at least 100% wide and tall */
        min-width: 100%;
        min-height: 100%;

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;

        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

</style>


<script type="text/javascript">

    Quagga.init({
    inputStream : {
      name : "Live",
      type : "LiveStream",
      target: document.querySelector('#camera')
    },
    decoder : {
      readers : ["code_128_reader"]
    }
    }, function(err) {
      if (err) {
          console.log(err);
          err = err.toString();

          if (err.search("NotFoundError")) {
              // No camera found. The user is probably in an office environment.
              // Redirect to previous orders or show a background image of sorts.
              error = "Kamera Bulunamadı.";
              alert(error);

            } else if (err.search("NotAllowedError")) {
                // The user has blocked the permission request.
                // We should ask them again just to be sure or redirect them.
                error = "Kullanıcı kamera izin talebini engelledi. Bu özelliği kullanabilmek için kameraya izin verin.";
                alert(error);
            } else {
                // Some other error.
                alert(error);
            }

            return;
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
    });

    //add
    Quagga.onDetected(function(data) {
        console.log(data);

        //submit form when barcode is detected
        document.getElementById('barcode').value = data.codeResult.code;
        //alert(document.getElementById('barcode').value)
        var form = document.getElementById("barcodeForm");
        form.submit();
        Quagga.stop();
    });

</script>

{% endblock %}
