{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
  //if date form is empty, do not submit form
  function validateForm() {
    var a = document.forms["dateForm"]["date"].value;
    if (!a) {
      alert("Lütfen Bir Tarih Girin");
      return false;
    }
  }
</script>

<div class="container">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">

					<form id="dateForm" onsubmit="return validateForm()" action="" method="post">
						{% csrf_token %}
						<label for="tarih">Tarihi gir:</label>
						<input type="date" id="date" name="date" value="{{ date|date:"Y-m-d" }}">
						<input type="submit" value="Seç">
					</form>

					 <div class="text-center">
						<p>Seçilen tarih: {{date}}</p>
						<h3>Girilen tarihteki güncel raporu göster ya da indir.</h3>
						<a class="btn btn-info" href="{% url 'pdf_view' date %}" target="_blank">Raporu Göster</a>
						<a class="btn btn-info"  href="{% url 'pdf_download' date %}">Raporu İndir</a>
					</div>
				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>

{% endblock %}
