<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="notInStock">
			  	<div class="card-header">
			  		<h5 class="card-title">Stokta Kalmayan Ürünler</h5>
			  	</div>
				<div class="card-body">
					{% if outOfStock|length == 0 %}
					<p>Stokta kalmayan ürün yok.</p>
					{% else %}
			    	<table class="card-table table">
						<tr>
							<th>Ürün</th>
							<th>Barkod</th>
							<th>Güncelle</th>
						</tr>
						{% for product in outOfStock %}
						<tr>
							<td>{{product.name}}</td>
							<td>{{product.barcode}}</td>
							<td><a href="{% url 'updateProduct' product.id %}">Güncelle</a></td>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="criticalTable">
			  	<div class="card-header">
			  		<h5 class="card-title">Kritik Ürünler</h5>
			  	</div>
			  	<div class="card-body">
					{% if criticalProducts|length == 0 %}
					<p>Kritik ürün yok.</p>
					{% else %}
			    	<table class="card-table table">
						<tr>
							<th>Ürün</th>
							<th>Kalan Ürün Miktarı</th>
							<th>Barkod</th>
							<th>Güncelle</th>
						</tr>

						{% for criticalProduct in criticalProducts %}
						<tr>
							<td>{{criticalProduct.name}}</td>
							<td>{{criticalProduct.amount}}</td>
							<td>{{criticalProduct.barcode}}</td>
							<td><a href="{% url 'updateProduct' criticalProduct.id %}">Güncelle</a></td>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
			  	</div>
			</div>
		</div>
	</div>
</div>
